html{
  height:100%;
  background-color: rgb(166, 195, 218);
}
body{
  height:100%;
  margin: 0;
}

h3 {
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
}

.list {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: rgb(202, 202, 216);
  border: black;
}
#sidenav {
  background-color: rgb(206, 206, 206);
}
/*
#sidenav {
  height: 100%; 
  width: 16%; 
  position: fixed; 
  top: 0;
  left: 0;
  background-color: rgb(172, 167, 167);
  overflow-x: hidden; 
  padding-top: 20px;
}
*/


#todolist { 
  background-color: pink;
  height: 100%;
  width: 100%;
}
.project {
  border: 1px solid #000000;
  margin-bottom: 5px;
}

.project:hover {
  color: white;
}