html{
  background-color: rgb(166, 195, 218);
}
body{
  height:100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden; 
}

h3 {
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
}

.list {
  height: 99vh;
  width: 100vw;
  display: flex;
  background-color: rgb(202, 202, 216);
  border: black;
}
#sidenav {
  background-color: rgb(206, 206, 206);
}

#todolist { 
  background-color: pink;
  height: 100%;
  width: 100%;
}
.project {
  border: 1px solid #000000;
  margin-bottom: 5px;
}

.project:hover {
  color: white;
}